<div class="row" ng-hide="modelList.length == 0 || updateLoading">
    <h3>Продажа товара</h3>

    <div class="col-xs-12" ng-if="isHasSaleInfo && !tryUpdateList">
        <div class="col-xs-12 top20">
            <h3><a class="btn btn-link" ng-click="currentSale.backToEdit()"><i class="fa fa-chevron-left"></i> Вернуться назад</a></h3>
            <button class="btn btn-default btn-block top20" ng-click="updateList()" ng-disabled="saleModel.allCaseCount == 0"><i class="fa fa-check"></i> Сделать продажу</button>
        </div>

        <div class="col-xs-12 top30">
            <h3>Итоговый список</h3>
            <table class="table table-condensed table-hover top15">
                <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>Тип/цвет</th>
                        <th>Количество</th>
                        <th>Цена за штуку</th>
                        <th>Итого цена</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in modelList" ng-if="item.saleCount > 0">
                        <td>{{item.model}}</td>
                        <td>{{item.type}}</td>
                        <td>{{item.saleCount}}</td>
                        <td>{{item.currentPrice}} руб</td>
                        <td>{{item.saleCount * item.currentPrice}} руб</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><b>{{saleModel.allCaseCount}}</b> штук</td>
                        <td></td>
                        <td>
                            <b>Итого {{saleModel.sum}}</b> руб
                            <p>Чистая прибыль {{saleModel.ourProfit}} руб</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="model-list col-xs-12" ng-if="!isHasSaleInfo">
        <button class="btn btn-default btn-block" ng-click="currentSale.getSaleInfo();"><i class="fa fa-calculator"></i> Расчитать</button>

        <div class="row row-item" ng-class="{'title' : item.rowType == 'title', 'sub-title' : item.rowType == 'sub-title', 'has-changes' : item.saleCount > 0, 'has-error' : item.saleCount > item.count}" ng-repeat="item in modelList">
            <div class="col-xs-4 first-col">
                <span>{{item.model}}</span>
            </div>
            <div class="col-xs-1">
                {{item.type}}
            </div>
            <div class="form-group col-xs-6" ng-class="{'has-success' : item.saleCount > 0, 'has-error' : item.saleCount > item.count}" ng-hide="item.rowType=='title' || item.rowType=='sub-title'">
                <input class="form-control count" type="number" ng-model="item.saleCount" min="0" ng-maxlength="item.count" ng-disabled="item.count == 0" />
                <span class="text-success has-count" ng-show="item.count > 0"><b>{{item.count}}</b> в наличии</span>
                <span class="text-danger has-count" ng-show="item.count == 0">Нет в наличии</span>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12">
    <div ng-if="tryrUpdateSalesTable && !errorUpdateSalesTable && !updateSalesTableLoading">
        <p class="text-success"><i class="fa fa-check"></i> Продажа успешно совершена.</p>
        <p class="text-success"><i class="fa fa-check"></i> Документ наличия обновлен.</p>
        <p class="text-success"><i class="fa fa-check"></i> Продажа занесена в таблицу продаж.</p>
        <button class="btn btn-default btn-block" ng-click="currentSale.addNewSale()">Сделать новую продажу</button>
    </div>
    <div ng-if="tryUpdateList && errorUpdateList && !updateSalesTableLoading">
        <p class="text-danger"><i class="fa fa-exclamation-circle"></i> При сохренении продажи возникли ошибки. Нажмите кнопку "Повторить". Возможно это связанно с интернет соединением. Если повтор не поможет проверьте интернет соединение, подождите пару минут или попытайтесь еще раз, обновив страницу.</p>
        <p class="text-danger"><i class="fa fa-exclamation-circle"></i> Документ наличия не обновлен.</p>
        <p class="text-danger"><i class="fa fa-exclamation-circle"></i> Продажа не занесена в таблицу продаж.</p>
        <button class="btn btn-default btn-block" ng-click="updateList()">Повторить</button>
    </div>
    <div ng-if="tryrUpdateSalesTable && errorUpdateSalesTable && !updateSalesTableLoading">
        <p class="text-danger"><i class="fa fa-exclamation-circle"></i> При сохренении продажи возникли ошибки, нажмите кнопку "Повторить". Не закрывайте и не перезагружайте страницу, так как документ наличия обновился, но возникли проблемы с сохренением продажи в таблицу продаж. Возможно это связанно с интернет соединением. Если повтор не поможет проверьте интернет соединение или подождите пару минут.</p>
        <p class="text-success"><i class="fa fa-check"></i> Документ наличия обновлен.</p>
        <p class="text-danger"><i class="fa fa-exclamation-circle"></i> Продажа не занесена в таблицу продаж.</p>
        <button class="btn btn-default btn-block" ng-click="updateSalesTable()">Повторить</button>
    </div>
</div>

<div class="col-xs-12" ng-show="modelList.length == 0 || updateLoading || updateSalesTableLoading">
    <div class="text-center" style="margin-top: 150px">
        <img src="/images/loading.gif" width="100" />
    </div>
</div>